#buy-me-coffee {
    border: none;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    background: linear-gradient(94.95deg, #FFE701 -1.41%, #FA51D3 34.12%,
    #10D9ED 70.19%, #52FF53 101.95%);
    border-radius: 10px;
    color: #fff;
    padding: 6px 32px;
    cursor: pointer;
    transition: opacity 0.3s ease-in, transform 0.3s ease-in-out;
    transform: scale(1);
  }
  
  #buy-me-coffee:hover {
    opacity: 0.94;
    transform: scale(1.02);
  }

  .connect-button-container {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px; /* Adjust padding as needed */
  }

  .app-container {
    display: flex;    
    justify-content: space-between;
  }

  .horizontal-container {
    display: flex;
    flex-direction: row; /* Stack children horizontally */
    justify-content: space-between;
  }
  
  .event-log {
    overflow-y: auto; /* Scrollable */
    border-left: 1px solid #ddd; /* Add a border to the left */
    padding: 10px;
  }

  .main-content {
    flex: 3;
  }
  
  .event-log-container {
    flex: 1 1 auto; /* Grow to fill the space, but also be based on content */
    overflow-y: auto; /* If you want the event log to be scrollable */
    min-height: 50vh;
    max-height: 50vh;
    /* Other styles... */
  }

  .right-side-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
  }

  .profile-container {
    flex: 0 1 auto; /* Do not grow, be based on content */
    /* Other styles... */
  }
  